[submodule "support"]
	path = support
	url = https://github.com/ccicconetti/support.git
[submodule "yen"]
	path = yen
	url = https://github.com/ccicconetti/yen.git
[submodule "hungarian-algorithm-cpp"]
	path = hungarian-algorithm-cpp
	url = https://github.com/ccicconetti/hungarian-algorithm-cpp.git
